
.formulario > div {
	margin-bottom: 20px;
}

.formulario label {
	display: block;
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input,
.formulario textarea,
.formulario select {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}
.formulario select {
	font-family: 'Open Sans', sans-serif;
	width: 80%;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input:focus {
	outline: none;
	border: 2px solid #0085FF;
}

.formulario .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
}

.formulario button[type="submit"], .btn{
	display: block;
	background: #0085FF;	
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	margin-top: 2rem;
}

.formulario button[type="submit"]:hover , .btn:hover{
	background: #071d4f;
}

.formulario .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #02a802;
}

.formulario input[type="radio"] {
	width: auto;
}

.elemForm{
	display: grid;
	grid-template-columns: 40% 60%;
  	grid-gap: 10px;
	margin-top: 0.8rem;
}
.titleForm{
	margin-bottom: 2rem;
}