
.back-gray{
   background: rgb(0,74,181);
   background: linear-gradient(351deg, rgba(0,74,181,0.4009978991596639) 0%, rgba(28,84,203,0.8239670868347339) 44%, rgba(37,36,38,1) 100%);
}
.navMain{
    margin: auto;
    width: 100%;
    display: flex; 
    font-weight: bold;
    background-color:black; 
    color: white;
    font-size: 2rem;
    
}
.cont-navBar{
    display: flex;
    justify-content: space-between;  
    gap: 20rem;
    flex-direction: row; 
    width:100%;
    padding: 1rem ;
}
.cont-navBar li{
    list-style: none;
}
.txt-mode{
    font-size:2rem!important;
}