.services-lista li{
    list-style: none;
}
.services-lista-items{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 1rem;

}

.group-check-items{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-gap: 0.5rem;
}
.check-items{
    padding: 20px;
    width:40%;
    font-size: 1.1rem!important;

}
.label-items{
    font-size: 1.1rem!important;
}